div.table,div.table:hover {
    border: 5px solid rgba(70, 70, 70, 0.919);
    background-color: black;
    color: white;
    height: 70px;
    border-radius: 12px;
    line-height: 60px;
    padding: 20px;
    width: 90%;
    margin: auto;
    font-size: 18px;
}

div.table{
    display: table;
    opacity: 50%;
}

div.table:hover{
    opacity: 100%;
}

div.row{
    display: table-row;
}



div.cell{
    display: table-cell;
    font-size: 30px;
}

#second{
    text-align: right;
}

input[type="checkbox"]{
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
}

button.Btn1{
    font-size: 30px;
    cursor: pointer;
}

button{
    cursor: pointer;
    font-size: 14px;
}

#checkboxCell{
    width: 12%;
}

#Btnscell{
    width: 60%;
}