<div class="table" id='task' [style.background-color]="color" [style.display]="available">
    <div class="row">
        <div class="cell" id='checkboxCell'>
            <input type="checkbox" id="checkbox1"> 
        </div>

        <div class="cell" id='taskName'>
            {{Name}}
        </div>

        <div class="cell" id="second">
            <button (click)="changeColor()">Change color</button>
            <input type="text" #box>
            <button (click)='changeName(box.value)'>Change Name</button> 
            <button (click)="remove()">Delete Task</button> 
            
        </div>
    </div>
</div>
